@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body{
    margin:0px;
    padding: 0px;
    background-color: #333;
    color:lightgreen;
    font-family: 'VT323', monospace;
}

#wrapper{
    margin:10px;
}

#errors{
    padding:10px;
    margin:10px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 8px double lightgreen;
    margin-bottom: 10px;
}

button, a{
    background: lightgreen;
    border: none;
    color: #333;
    padding: 5px 15px;
    font-family: 'VT323';
    font-size: 18px;
    text-transform: capitalize;
    border:3px solid lightgreen;
}

button:hover, a:hover{
    background-color: #333;
    color: lightgreen;
}

a{
    text-decoration: none;
    display: block;
    text-align: center;
}

input{
    background: lightgreen;
    font-family: 'VT323';
    font-size: 18px;
    border: none;
    padding: 5px 10px;
}

h1{
    font-weight: normal;
}

.line{
    padding:10px;
    display: inline-block;
    border:1px dashed lightgreen;
    margin:5px;
}

section{
    display: flex;
}

aside{
    border-right: 8px double lightgreen;
    padding-right: 10px;
    margin-right: 10px;
}

aside button{
    display: block;
    margin-bottom:10px;
    width:150px
}

.notok{
    color: salmon;
}

.bnotok{
    border-color: salmon;
}


#numbers{
    display:flex;
}

.itemnum{
    width:150px;
    border:1px solid lightgreen;
}

.itemnum .value{
    font-size:38px;
    text-align: center;
}

.itemnum .label{
    text-align: center;
    padding:5px;
}