<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitor de log | nobeta + gcp</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="wrapper">

        <h1>Leitor de log GCP</h1>
        <nav>
            <button id="anterior" class="btn">&laquo; Anterior</button>
            <div>
                <input type="date" id="actual" class="datebox" />
            </div>
            <button id="proximo" class="btn">Próximo &raquo;</button>
        </nav>

        <div id="numbers">
            <div class="itemnum">
                <div class="value" id="bqurls">0</div>
                <div class="label">encontrados (bigquery)</div>
            </div>
            <div class="itemnum">
                <div class="value" id="mysqlurls">0</div>
                <div class="label">verificados (mysql)</div>
            </div>
            <div class="itemnum">
                <div class="value" id="processed">0</div>
                <div class="label">processados</div>
            </div>
        </div>

        <div id="info">
            <span id="urlcount"></span>
            <span id="urlchecked"></span>
        </div>
        <div id="infomsg"></div>
        <div id="errors" class="notok"></div>
        <section>
            <aside>
                <button id="verificar">verificar</button>
                <button id="processar">processar</button>
                <a href='resumo.html'>Resumo</a>
            </aside>
            <div id="scripturls"></div>
        </section>
    </div>

    <script src="/static/common.js"></script>
    <script src="/static/process.js"></script>
    <script src="/static/services.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>