<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitor de log | nobeta + gcp</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="wrapper">

        <h1>Leitor de log GCP</h1>
        <div id="infomsg"></div>
        <div id="errors" class="notok"></div>
        
        <section>
            <aside>
                <button id="verificar">verificar</button>
                <a href='/'>&laquo; principal</a>
            </aside>
            <div id="lineswrapper"></div>
        </section>

    </div>

    <script src="/static/common.js"></script>
    <script src="/static/services.js"></script>
    <script src="/static/resumo.js"></script>
</body>
</html>